<div class="container">
    <p>Super power boost: {{2 | exponentialStrength: 10}}</p>
  <h1>Hero Form</h1>
  <form #heroForm="ngForm">
   
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="itemName" required
             [(ngModel)]="itemName" name="itemName" #name="ngModel">
    </div>
    

    <div class="form-group">
      <label for="alterEgo">Price</label>
      <input type="text"  class="form-control" id="price"
             [(ngModel)]="item.price" name="price">
    </div>

   

    <button type="button" class="btn btn-success" (click) = "setItemName()">Submit</button>

  </form>
</div>

<p>Item Request(Child)</p>
<p ng-if="childVal &&  childVal != null"> {{childVal}}</p>

<app-item-request [item] = item (childItem)="getChildVal($event)"></app-item-request>